* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #250057;
}

.input-box {
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    /* space 300px from top and bottom and auto will setting the div horizontally in the center from left and right (setting space automatically) */
    margin: 300px auto;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    outline: 0;
    border: 0;
    font-size: 24px;
    color: #555;
}

.input-box i fa-solid{
    width: 35px;
    font-size: 35px;
    cursor: pointer;
}